body {
    background-color: #FFD700;
}

h1 {
    font-size: 40px;
    font-family: "Arial", Arial, serif;
    border-style: dashed;;
    border-color: black
}

h2 {
    font-size: 30px;
    font-family: "Arial", Arial, serif;
    border-style: dashed;
    border-color: black

}

p {
    font-family: "Arial", Arial, serif;
    font-size: 14px;
    font-weight: normal;
    margin-right: 100px;
    margin-left: 100px;

}
<<<<<<< Updated upstream
=======
h3 {

  font-family: "Arial", Arial, serif;
  font-size: 14px;
  margin-left: 360px;
>>>>>>> Stashed changes

a:link {
    font-family: "Arial", Arial, serif;
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}

a:visited {
    color: white;
}

a:hover {
    color: red;
}

a:active {
    color: silver;
}

<<<<<<< Updated upstream
div.link {
    padding-right: 10%;
    padding-left: 10%;
    display: table-cell;
    vertical-align: middle;
=======
a {
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 0.05%;
  padding-top: 2%;
  position: relative;

}

h4 {

  font-family: "Arial", Arial, serif;
  font-size: 14px;
  margin-left: 510px;
  position: relative;
}

h5 {

  font-family: "Arial", Arial, serif;
  font-size: 14px;
  margin-left: 660px;
  position: relative;
}
h6 {

  font-family: "Arial", Arial, serif;
  font-size: 14px;
  margin-left: 810px;
  position: relative;

>>>>>>> Stashed changes
}
