body {
    background-color: #FFD700;
}

h1 {
    font-size: 40px;
    font-family: "Arial", Arial, serif;
    border-style: dashed;;
    border-color: black
}

h2 {
    font-size: 30px;
    font-family: "Arial", Arial, serif;
    border-style: dashed;
    border-color: black

}

p {
    font-family: "Arial", Arial, serif;
    font-size: 14px;
    font-weight: normal;
    margin-right: 100px;
    margin-left: 100px;

}

a:link {
    font-family: "Arial", Arial, serif;
    font-size: 30px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}

a:visited {
    color: white;
}

a:hover {
    color: red;
}

a:active {
    color: silver;
}

div.link {
    padding-right: 10%;
    padding-left: 10%;
    display: table-cell;
    vertical-align: middle;
}
