body {
    background-color: #FFD700;
}

h1 {
    font-size: 40px;
    font-family: "Arial", Arial, serif;
    border-style: dashed;
    border-color: black;
}

h2 {
    font-size: 30px;
    font-family: "Arial", Arial, serif;
    border-style: dashed;
    border-color: black;

}

p {
font-family: "Arial", Arial, serif;
font-size: 14px;
font-weight: normal;
}
